$wt: #fff;
$wt2: #d0d0d0;
$bl: #000;
$grey: #f9f9f9;
$nav: #2e3261;
$blue: #2c305e;
$orange: #fc3a67;
$purple: #ce325f;
$bluebg: #2a2e55;
$bluebg1: #292d57;
$bluebg2: #2a2e59;
$triangle: #272b52;
$hr: #f0326b;
$text: #707d8f;
$green: #24a805;
$about: #292d53;
$showcase: #262a4f;
$bdc: #1f2344;
$bdc2: #272b58;
$bdc3: #e1e3e6;
$bdc4: #262a50;
$circle: rgba(89, 105, 126, 0.7);
$circlehv: rgba(89, 105, 126, 1);
$row: #2a2e5a;
$boxbd: #242753;
$boxbd2: #2f3470;
$ft: #25284a;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: $orange;
  padding: 36px 40px;
  font-size: 13px;
  color: $wt;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s ease-in-out;
}

#brochure {
  position: fixed;
  background: $purple;
  border-radius: 4px;
  padding: 18px 20px;
  top: 50%;
  left: -50vw;
  transform: translateY(-50%);
  transform: rotate(90deg);
  cursor: pointer;
  transition: left 500ms;
  z-index: 200;
  &:hover {
    background: darken($color: $purple, $amount: 10%);
  }
  p {
    margin: 0;
    color: $wt;
    letter-spacing: 4px;
    font-size: 13px;
  }
}

.brochure-modal {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: top 1000ms, opacity 1200ms;
  z-index: 201;
  opacity: 1;
  &.hide {
    top: -1000px;
    opacity: 0;
  }
  .box {
    width: 100%;
    max-width: 600px;
    .heading {
      background: url("img/modal.jpg") no-repeat;
      background-size: cover;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 54px 0 54px 50px;
      border-radius: 6px 6px 0 0;
      position: relative;
      span {
        color: $wt;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
      }
      h2 {
        color: $wt;
        margin: 4px 0 0 0;
        font-size: 46px;
      }
      p {
        color: $wt;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 600;
        margin: 0;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    }
    .desc {
      width: 100%;
      text-align: center;
      background: $wt;
      padding: 30px 0;
      h4 {
        margin: 0;
        line-height: 1.4;
        font-size: 18px;
      }
    }
    .info {
      background: $grey;
      border-radius: 0 0 6px 6px;
      .info-wrap {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 40px 0;
        .row {
          p {
            margin: 0 0 14px 0;
            color: $text;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 2px;
          }
          input {
            width: 100%;
            padding: 12px;
            border: none;
            border: 1px solid $bdc3;
            outline: none;
            transition: 0.3s ease;
            &:hover,
            &:focus {
              border: 1px solid $purple;
            }
            &::placeholder {
              color: darken($color: $wt2, $amount: 16%);
            }
          }
          input[type="checkbox"] {
            width: 20px;
            margin: 0;
          }
          &:nth-child(2) {
            margin: 34px 0 20px 0;
          }
          &:nth-child(3) {
            display: flex;
            margin: 30px 0 22px 0;
            a {
              text-decoration: none;
              color: $text;
              font-size: 14px;
              transition: 0.3s ease;
              &:hover {
                color: darken($color: $text, $amount: 10%);
              }
              span {
                font-size: 16px;
                font-weight: 500;
                margin: 0 4px;
              }
            }
          }
          .btn {
            padding: 16px 0;
            width: 100%;
            text-align: center;
            border-radius: 4px;
            &:hover {
              background: darken($color: $orange, $amount: 10%);
            }
          }
        }
      }
    }
  }
}

#scrollUp {
  cursor: pointer;
  position: fixed;
  right: 40px;
  z-index: 20;
  background: $circle;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  a {
    color: $purple;
  }
  &:hover {
    background: $circlehv;
  }
}

.gallery-module {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: $blue;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  transition: right 1000ms, opacity 500ms;
  opacity: 1;
  .picture {
    background: url("img/bg3.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    max-width: 1300px;
    height: 800px;
  }
  #moduleOneClose {
    color: $text;
    cursor: pointer;
    position: absolute;
    top: 38px;
    right: 6px;
    transition: 0.4s ease-in-out;
    &:hover {
      color: $wt;
    }
  }
  &.galleryHide {
    right: 100vw;
    opacity: 0;
  }
}

.module {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 22;
  right: 0;
  transition: right 1000ms, opacity 500ms;
  opacity: 1;
  &.showModule {
    right: 100vw;
    z-index: 7;
    opacity: 0;
  }
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #closeModule {
    color: $wt;
    cursor: pointer;
    right: 16px;
    top: 40px;
    position: absolute;
  }
}

nav {
  width: 100%;
  background: $nav;
  position: absolute;
  z-index: 20;
  top: 0;
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 140px;
      height: 14px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    .menu {
      margin-right: 220px;
      a {
        text-decoration: none;
        color: $wt;
        font-size: 13px;
        padding: 0 28px 35px 28px;
        font-weight: 600;
        transition: width 600ms ease-in-out;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          background: $hr;
          height: 5px;
          width: 0;
          bottom: 0;
          opacity: 0;
          transition: width 600ms ease-in-out;
        }
        &:hover::after {
          position: absolute;
          content: "";
          left: 0;
          width: 100%;
          opacity: 1;
          transition: width 600ms ease-in-out;
        }
      }
    }
  }
  #burger {
    color: $wt;
    cursor: pointer;
    display: none;
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  background: url("img/bg.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .container {
    max-width: 460px;
    h1 {
      margin: 0 0 20px 0;
      color: $wt;
      font-size: 90px;
      font-weight: 600;
      text-align: center;
      line-height: 1.1;
    }
    hr {
      border: 2.5px solid $wt;
      width: 100px;
      border-radius: 50px;
    }
    h5 {
      color: $wt;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      margin: 22px 0 0 0;
    }
    .video {
      border-top: 2px solid $wt;
      border-bottom: 2px solid $wt;
      display: flex;
      align-items: center;
      text-align: center;
      margin: 40px 0;
      .play {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid $wt;
        width: 100%;
        max-width: 50%;
        padding: 9px 0;
        .circle {
          width: 26px;
          height: 26px;
          background: $wt;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          cursor: pointer;
          position: relative;
          z-index: 10;
          i {
            color: $purple;
            font-size: 10px;
          }
        }
        p {
          color: $wt;
          margin: 0;
          font-size: 14px;
        }
        font-size: 15px;
        letter-spacing: 1px;
      }
      .date {
        width: 100%;
        max-width: 50%;
        padding: 9px 0;
        p {
          margin: 0;
          color: $wt;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    a {
      text-decoration: none;
      color: $wt;
      font-size: 13px;
      text-align: center;
      display: block;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
  .icon {
    width: 50px;
    height: 36px;
    border-radius: 6px 6px 0 0;
    background: $wt;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    i {
      color: $purple;
      animation: float 1.4s linear infinite;
      transition: float 500ms ease;
    }
    @keyframes float {
      0% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(-4px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
  .popup-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: right 1000ms, opacity 500ms;
    opacity: 1;
    &.hide {
      z-index: 4;
      right: 100vw;
      opacity: 0;
    }
    i {
      position: absolute;
      top: 140px;
      right: 60px;
      cursor: pointer;
      color: $wt;
    }
  }
}

.conference {
  width: 100%;
  background: $blue;
  padding: 80px 0;
  .heading {
    width: 100%;
    max-width: 674px;
    margin: 0 auto;
    text-align: center;
    span {
      color: $text;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    h2 {
      margin: 6px 0;
      color: $wt;
      font-size: 52px;
      line-height: 1.1;
    }
    hr {
      border: 2px solid $purple;
      width: 90px;
      border-radius: 50px;
    }
    p {
      color: $text;
      margin: 22px 0 0 0;
    }
  }
  .container {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    .info {
      width: 100%;
      max-width: 380px;
      .row {
        display: flex;
        align-items: center;
        p {
          margin: 0;
          line-height: 1.4;
          &:first-of-type::first-letter {
            font-size: 300%;
            color: $purple;
            margin-right: 6px;
          }
        }
      }
      p {
        margin: 0;
        color: $text;
        &:nth-child(3) {
          margin: 14px 0 0 0;
        }
        &:nth-child(4) {
          border-left: 4.5px solid $purple;
          margin: 18px 0;
          font-style: italic;
          font-size: 17px;
          line-height: 1.5;
          padding-left: 14px;
        }
        &:nth-child(5) {
          line-height: 1.5;
          font-size: 18px;
        }
      }
      .signature {
        margin: 42px 0 0 0;
        width: 260px;
        height: 100px;
        background: url("img/logo1.png") no-repeat;
        background-size: cover;
      }
    }
    .pictures {
      width: 100%;
      max-width: 558px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .card:nth-child(1) {
        .pic {
          border: 10px solid $wt;
          &:nth-child(1) {
            background: url("img/conference1.jpg") no-repeat;
            background-size: cover;
            width: 270px;
            height: 300px;
            margin-bottom: 16px;
          }
          &:nth-child(2) {
            background: url("img/conference3.jpg") no-repeat;
            background-size: cover;
            width: 270px;
            height: 180px;
          }
        }
      }
      .card:nth-child(2) {
        .pic {
          border: 10px solid $wt;
          &:nth-child(1) {
            background: url("img/conference2.jpg") no-repeat;
            background-size: cover;
            width: 270px;
            height: 180px;
          }
          &:nth-child(2) {
            background: url("img/conference4.jpg") no-repeat;
            background-size: cover;
            width: 270px;
            height: 300px;
            margin-top: 16px;
          }
        }
      }
    }
  }
}

.about {
  width: 100%;
  padding: 80px 0;
  background: $about;
  .container {
    display: flex;
    justify-content: space-between;
    .info {
      width: 100%;
      max-width: 480px;
      span {
        color: $text;
        font-size: 14px;
        font-weight: 500;
      }
      h2 {
        margin: 4px 0;
        color: $wt;
        font-size: 46px;
        font-weight: 600;
      }
      hr {
        border: 3px solid $hr;
        width: 86px;
        border-radius: 50px;
        margin: 0 auto 0 0;
      }
      p {
        color: $text;
        line-height: 1.5;
        font-size: 16px;
        margin: 18px 0 12px 0;
        &:last-of-type {
          margin: 0;
        }
      }
      .btn {
        padding: 15px 32px;
        border-radius: 50px;
        margin: 24px 0 0 0;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1.5px;
      }
    }
    .video {
      width: 100%;
      max-width: 500px;
      height: 290px;
      background: url("img/bg2.jpg") no-repeat;
      background-size: cover;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &:hover {
        .overlay {
          opacity: 1;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("img/bg3.jpg") no-repeat;
        background-size: cover;
        opacity: 0;
        transition: 0.4s ease-in-out;
      }
      .circle {
        width: 80px;
        height: 80px;
        background: $orange;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 8;
        transition: 0.4s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
        i {
          color: $wt;
        }
      }
    }
  }
}

.showcase {
  width: 100%;
  background: $showcase;
  .container {
    display: flex;
    justify-content: space-between;
    .card {
      width: 100%;
      max-width: 300px;
      padding: 60px 30px;
      display: flex;
      &:nth-child(1) {
        border-right: 2px solid $bdc;
      }
      &:last-of-type {
        border-left: 2px solid $bdc;
        img {
          margin: 12px 0 0 0;
        }
      }
      img {
        margin: 4px 0 0 0;
        width: 50px;
        height: 50px;
      }
      .row {
        padding: 0 0 0 16px;
        h4 {
          color: $wt;
          font-weight: 300;
          font-size: 16px;
          margin: 0;
        }
        p {
          color: $text;
          margin: 10px 0;
          line-height: 1.4;
        }
      }
    }
  }
}

.speakers {
  width: 100%;
  background: $bluebg;
  display: flex;
  flex-wrap: wrap;
  .card {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(12) {
      background: url("img/team1.jpg") no-repeat center center;
      background-size: cover;
      height: 700px;
      position: relative;
      &:hover {
        .overlay {
          opacity: 1;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background: url("img/team1ovl.jpg") no-repeat center center;
        background-size: cover;
        transition: 0.4s ease-in-out;
      }
      .triangle {
        width: 220px;
        height: 100px;
        background: $showcase;
        transform: rotate(50deg);
        margin-right: -100px;
      }
      .slideUp {
        color: $wt;
        position: absolute;
        top: 24px;
        right: 20px;
        cursor: pointer;
        transform: rotate(45deg);
        transition: transform 500ms;
      }
      .link-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 8;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 290px;
        overflow: hidden;
        padding: 20px;
        .link {
          width: 70px;
          height: 70px;
          background: $circle;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: transform 500ms, opacity 3000ms;
          position: relative;
          opacity: 1;
          &.hidden {
            transform: translateY(140px);
            opacity: 0;
          }
          &:hover {
            transform: scale(1.2);
          }
          i {
            color: $wt;
          }
        }
      }
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(10),
    &:nth-child(11) {
      justify-content: flex-start;
      align-items: center;
      .desc {
        width: 100%;
        max-width: 330px;
        margin: 0 0 0 70px;
        span {
          color: $text;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1px;
        }
        h2 {
          color: $wt;
          margin: 10px 0;
          font-size: 50px;
          line-height: 1;
        }
        hr {
          border: 3px solid $purple;
          width: 86px;
          margin: 0 auto 0 0;
          border-radius: 50px;
        }
        p {
          line-height: 1.5;
          color: $text;
          font-size: 18px;
          &:first-of-type {
            font-style: italic;
            font-weight: 500;
            margin: 16px 0;
          }
        }
        .btn {
          padding: 16px 40px;
          border-radius: 50px;
          font-weight: 300;
        }
      }
      &:nth-child(3),
      &:nth-child(7),
      &:nth-child(11) {
        justify-content: flex-end;
        text-align: right;
        .desc {
          margin: 0 70px 0 0;
          hr {
            margin: 0 0 0 auto;
          }
        }
      }
    }
    &:nth-child(4) {
      background: url("img/team2.jpg") no-repeat center center;
      background-size: cover;
      .overlay {
        background: url("img/team2ovl.jpg") no-repeat center center;
        background-size: cover;
      }
    }
    &:nth-child(5) {
      background: url("img/team3.jpg") no-repeat center center;
      background-size: cover;
      .overlay {
        background: url("img/team3ovl.jpg") no-repeat center center;
        background-size: cover;
      }
    }
    &:nth-child(8) {
      background: url("img/team4.jpg") no-repeat center center;
      background-size: cover;
      .overlay {
        background: url("img/team4ovl.jpg") no-repeat center center;
        background-size: cover;
      }
    }
    &:nth-child(9) {
      background: url("img/team5.jpg") no-repeat center center;
      background-size: cover;
      .overlay {
        background: url("img/team5ovl.jpg") no-repeat center center;
        background-size: cover;
      }
    }
    &:nth-child(12) {
      background: url("img/team6.jpg") no-repeat center center;
      background-size: cover;
      .overlay {
        background: url("img/team6ovl.jpg") no-repeat center center;
        background-size: cover;
      }
    }
  }
}

.schedule {
  width: 100%;
  padding: 80px 0;
  background: $blue;
  text-align: center;
  span {
    color: $text;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  h2 {
    margin: 4px 0;
    color: $wt;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
  }
  hr {
    border: 3px solid $purple;
    width: 100px;
    border-radius: 50px;
  }
  p {
    color: $text;
    line-height: 1.5;
  }
  .container {
    padding: 30px 0;
    .top-menu {
      display: flex;
      border-bottom: 2px solid $bdc2;
      .day {
        &:first-of-type {
          margin-left: 30px;
        }
        &.active {
          border-left: 2px solid $bdc2;
          border-top: 2px solid $bdc2;
          border-right: 2px solid $bdc2;
          margin-bottom: -2px;
          background: $blue;
          a {
            color: $wt;
          }
        }
        a {
          text-decoration: none;
          color: $text;
          padding: 20px 40px 20px 40px;
          display: block;
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
    .row {
      width: 100%;
      padding: 14px 0;
      margin: 20px 0;
      background: $row;
      display: flex;
      justify-content: center;
      text-align: left;
      .info {
        width: 100%;
        max-width: 200px;
        p {
          font-weight: 500;
          font-size: 14px;
        }
      }
      .desc {
        width: 100%;
        max-width: 740px;
        p {
          &:nth-child(2) {
            margin: 8px 0;
            font-size: 17px;
          }
        }
      }
      p {
        margin: 0;
      }
    }
  }
  .btn {
    padding: 18px 30px;
    font-weight: 300;
    letter-spacing: 1.3px;
    margin: 40px 0;
    border-radius: 4px;
    &:hover {
      background: darken($color: $orange, $amount: 10%);
    }
  }
}

.features {
  width: 100%;
  padding: 80px 0 100px 0;
  background: $blue;
  text-align: center;
  span {
    color: $text;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  h2 {
    margin: 4px 0;
    color: $wt;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
  }
  hr {
    border: 3px solid $purple;
    width: 100px;
    border-radius: 50px;
  }
  p {
    color: $text;
    line-height: 1.5;
  }
  .container {
    padding: 34px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .box {
      width: 100%;
      max-width: 330px;
      display: flex;
      padding: 40px 35px;
      text-align: left;
      img {
        min-width: 48px;
        height: 44px;
        margin: 8px 18px 0 0;
      }
      .info {
        h4 {
          color: $wt;
          margin: 0;
          font-weight: 300;
          font-size: 15px;
        }
        p {
          margin: 6px 0 0 0;
        }
      }
      &:first-of-type {
        border-right: 1px solid $boxbd;
        border-bottom: 1px solid $boxbd;
      }
      &:nth-child(2) {
        border-right: 1px solid $boxbd;
        border-left: 1px solid $boxbd2;
        border-bottom: 1px solid $boxbd;
      }
      &:nth-child(3) {
        border-left: 1px solid $boxbd2;
        border-bottom: 1px solid $boxbd;
      }
      &:nth-child(4) {
        border-right: 1px solid $boxbd;
        border-top: 1px solid $boxbd2;
        border-bottom: 1px solid $boxbd;
      }
      &:nth-child(5) {
        border-top: 1px solid $boxbd2;
        border-right: 1px solid $boxbd;
        border-bottom: 1px solid $boxbd;
        border-left: 1px solid $boxbd2;
      }
      &:nth-child(6) {
        border-top: 1px solid $boxbd2;
        border-left: 1px solid $boxbd2;
        border-bottom: 1px solid $boxbd;
      }
      &:nth-child(7) {
        border-right: 1px solid $boxbd;
        border-top: 1px solid $boxbd2;
      }
      &:nth-child(8) {
        border-right: 1px solid $boxbd;
        border-top: 1px solid $boxbd2;
        border-left: 1px solid $boxbd2;
      }
      &:nth-child(9) {
        border-top: 1px solid $boxbd2;
        border-left: 1px solid $boxbd2;
      }
    }
  }
}

.tickets {
  width: 100%;
  background: $bluebg1;
  padding: 80px 0;
  text-align: center;
  span {
    color: $text;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  h2 {
    margin: 4px 0;
    color: $wt;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
  }
  hr {
    border: 3px solid $purple;
    width: 100px;
    border-radius: 50px;
  }
  p {
    color: $text;
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 17px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 36px 0 40px 0;
    .card {
      text-align: left;
      width: 100%;
      max-width: 310px;
      .pic {
        width: 100%;
        height: 170px;
        background: url("img/bg2.jpg") no-repeat center center;
        background-size: cover;
        border-radius: 6px 6px 0 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        .price {
          padding-bottom: 16px;
          > div {
            display: flex;
            span {
              color: $wt;
              font-size: 30px;
            }
            h2 {
              margin: 0 0 0 3px;
              font-size: 60px;
              line-height: 1;
            }
          }
          p {
            color: $wt;
            font-weight: 400;
            font-style: italic;
            margin: 8px 0 0 0;
          }
        }
      }
      .info {
        background: $wt;
        padding: 10px 16px;
        border-radius: 0 0 6px 6px;
        .desc {
          display: flex;
          align-items: flex-start;
          padding: 16px 0;
          border-bottom: 1px solid $bdc3;
          p {
            margin: 0 0 0 12px;
            line-height: 1.3;
          }
          i {
            color: $green;
            &.close {
              color: $bdc3;
            }
          }
          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }
  }
  .btn {
    padding: 16px 34px;
    border-radius: 4px;
    font-weight: 300;
    letter-spacing: 1.2px;
    &:hover {
      background: darken($color: $orange, $amount: 10%);
    }
  }
}

.gallery {
  width: 100%;
  padding: 100px 0;
  background: $bluebg1;
  text-align: center;
  span {
    color: $text;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  h2 {
    margin: 4px 0;
    color: $wt;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
  }
  hr {
    border: 3px solid $purple;
    width: 100px;
    border-radius: 50px;
  }
  p {
    color: $text;
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 17px;
  }
  .container {
    padding: 44px 0 0 0;
    .card {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .box {
        border: 6px solid $wt;
        margin: 8px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          .circle {
            opacity: 1;
          }
        }
        .circle {
          width: 60px;
          height: 60px;
          background: $circle;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: 0.6s ease-in-out;
          &:hover {
            background: $circlehv;
          }
          i {
            color: $wt;
            transform: rotate(-45deg);
          }
        }
      }
      &:first-of-type {
        .box {
          height: 300px;
          &:nth-child(1) {
            width: 100%;
            max-width: 660px;
            background: url("img/gallery1.jpg") no-repeat center center;
            background-size: cover;
          }
          &:nth-child(2) {
            width: 100%;
            max-width: 320px;
            background: url("img/gallery2.jpg") no-repeat center center;
            background-size: cover;
          }
        }
      }
      &:nth-child(2) {
        width: 100%;
        > .box {
          width: 100%;
          max-width: 500px;
          height: 700px;
          background: url("img/gallery3.jpg") no-repeat center center;
          background-size: cover;
        }
        .col {
          width: 100%;
          max-width: 480px;
          .box {
            &:nth-child(1),
            &:nth-child(2) {
              width: 100%;
              max-width: 480px;
              height: 340px;
              background: url("img/gallery8.jpeg") no-repeat center center;
              background-size: cover;
            }
            &:nth-child(2) {
              margin-top: 20px;
              background: url("img/gallery5.jpg") no-repeat center center;
              background-size: cover;
            }
          }
        }
      }
      &:nth-child(3) {
        .box {
          width: 100%;
          max-width: 320px;
          height: 300px;
          &:nth-child(1) {
            background: url("img/gallery5.jpg") no-repeat center center;
            background-size: cover;
          }
          &:nth-child(2) {
            background: url("img/gallery6.jpg") no-repeat center center;
            background-size: cover;
          }
          &:nth-child(3) {
            background: url("img/gallery7.jpg") no-repeat center center;
            background-size: cover;
          }
        }
      }
    }
  }
}

.address {
  width: 100%;
  background: $bluebg2;
  display: flex;
  justify-content: center;
  .info {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .info-wrap {
      width: 100%;
      max-width: 320px;
      span {
        color: $text;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      h2 {
        margin: 12px 0;
        color: $wt;
        font-size: 54px;
        font-weight: 600;
        line-height: 1;
      }
      hr {
        border: 3px solid $purple;
        width: 88px;
        border-radius: 50px;
        margin: 0 auto 0 0;
      }
      > p {
        color: $text;
        margin: 24px 0 0 0;
        line-height: 1.5;
        font-weight: 400;
        font-size: 15px;
      }
      .row {
        margin: 14px 0;
        p {
          color: $text;
          margin: 0;
          font-size: 15px;
        }
        i {
          color: $purple;
        }
        &:first-of-type {
          p {
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 1px;
            &:nth-child(2) {
              margin: 10px 0;
              font-weight: 400;
              font-size: 15px;
              i {
                margin-right: 10px;
              }
            }
          }
        }
        &:nth-of-type(2) {
          margin: 36px 0 0 0;
          border-bottom: 1px solid $bdc4;
          p {
            &:nth-child(1) {
              font-weight: 500;
              font-size: 13px;
              letter-spacing: 1px;
            }
            &:nth-child(2) {
              margin: 15px 0;
              i {
                margin-right: 10px;
              }
            }
          }
        }
        &:nth-of-type(3) {
          margin: 14px 0 36px 0;
          p {
            i {
              margin-right: 14px;
            }
          }
        }
        &:nth-of-type(4) {
          p {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1.3px;
          }
          .links {
            display: flex;
            margin: 14px 0;
            .icon-wrap {
              width: 32px;
              height: 32px;
              border: 2px solid $purple;
              border-radius: 50%;
              margin-right: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s ease;
              cursor: pointer;
              &:hover {
                background: $purple;
                a {
                  i {
                    color: $wt;
                  }
                }
              }
              a {
                i {
                  color: $purple;
                }
              }
            }
          }
        }
      }
    }
  }
  .map {
    width: 100%;
    max-width: 50%;
    iframe {
      width: 100%;
    }
  }
}

.contact {
  width: 100%;
  background: $bluebg2;
  display: flex;
  justify-content: center;
  .desc {
    width: 100%;
    max-width: 50%;
    background: url("img/bg.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    .info {
      width: 100%;
      max-width: 330px;
      padding: 120px 0 0 0;
      span {
        color: $wt;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      h2 {
        margin: 15px 0;
        color: $wt;
        font-size: 48px;
        font-weight: 600;
        line-height: 1;
      }
      hr {
        border: 3px solid $purple;
        width: 100px;
        border-radius: 50px;
        margin: 0 auto 0 0;
      }
      p {
        color: $wt;
        line-height: 1.5;
        margin-bottom: 0;
        font-size: 17px;
      }
    }
  }
  .form {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    .form-wrap {
      width: 100%;
      max-width: 460px;
      .col {
        margin: 36px 0;
        p {
          color: $text;
          margin: 0 0 26px 0 !important;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 1.4px;
          &:first-of-type {
            margin: 0 0 16px 0;
          }
        }
        select,
        input {
          width: 100%;
          padding: 8px 14px;
          color: $wt2;
          font-size: 15px;
        }
        input {
          border: none;
          background: transparent;
          border-bottom: 1px solid $bdc3;
          padding: 10px 14px;
          outline: none;
          transition: 0.3s ease;
          color: $wt;
          &::placeholder {
            color: darken($color: $wt2, $amount: 16%);
          }
          &:hover {
            border-bottom: 1px solid $purple;
          }
          &:focus {
            border-bottom: 1px solid $purple;
          }
        }
      }
      .btn {
        padding: 14px 0;
        border-radius: 4px;
        width: 100%;
        text-align: center;
        letter-spacing: 1.4px;
      }
    }
  }
}

.sponsors {
  width: 100%;
  padding: 100px 0;
  background: $about;
  text-align: center;
  p {
    margin: 0;
    color: $text;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .pic {
      width: 100%;
      max-width: 174px;
      height: 54px;
      img {
        width: 100%;
        display: block;
        height: 100%;
        opacity: 0.3;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

footer {
  width: 100%;
  padding: 24px 0 28px 0;
  background: $ft;
  .container {
    display: flex;
    justify-content: center;
    p {
      margin: 0;
      color: $text;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1.6px;
      a {
        text-decoration: none;
        color: $purple;
        letter-spacing: 1.6px;
        font-size: 13px;
        transition: 0.3s ease;
      }
      &:nth-child(2),
      &:nth-child(4) {
        margin: 0 18px;
      }
      &:nth-child(3) {
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .schedule {
    > p {
      padding: 0 20px;
      br {
        display: none;
      }
    }
    .container {
      max-width: 94%;
      .top-menu {
        flex-direction: column;
        align-items: center;
        border: 2px solid $bdc2;
        .day {
          position: relative;
          z-index: 10;
          width: 100%;
          &:first-of-type {
            margin-left: 0;
          }
          &.active {
            border-left: none;
            border-top: none;
            border-right: none;
            background: $bluebg;
          }
          a {
            padding: 20px 0;
            width: 100%;
          }
        }
      }
    }
  }
  .features {
    > p {
      padding: 0 20px;
      br {
        display: none;
      }
    }
    .container {
      .box {
        max-width: 500px;
        margin-bottom: 30px;
      }
    }
  }
  .gallery {
    > p {
      padding: 0 30px;
      br {
        display: none;
      }
    }
    .container {
      .card {
        flex-direction: column;
        align-items: center;
        &:first-of-type {
          .box {
            height: 300px;
            &:nth-child(1),
            &:nth-child(2) {
              max-width: 500px;
              margin: 0 0 20px 0;
            }
          }
        }
        &:nth-child(2) {
          width: 100%;
          > .box {
            max-width: 500px;
            height: 300px;
            margin: 0 0 20px 0;
          }
          .col {
            max-width: 500px;
            .box {
              &:nth-child(1),
              &:nth-child(2) {
                max-width: 100%;
                margin: 0 0 20px 0;
              }
            }
          }
        }
        &:nth-child(3) {
          .box {
            max-width: 500px;
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
  footer {
    .container {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      p {
        margin: 4px 8px;
        &:nth-child(2),
        &:nth-child(4) {
          display: none;
        }
        &:nth-child(5) {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .features {
    .container {
      justify-content: space-between;
      .box {
        max-width: 47%;
        margin-bottom: 30px;
      }
    }
  }
  .gallery {
    .container {
      max-width: 680px;
      justify-content: center;
      .card {
        max-width: 680px;
        &:first-of-type {
          .box {
            height: 300px;
            &:nth-child(1),
            &:nth-child(2) {
              max-width: 330px;
              margin: 0 0 20px 0;
            }
          }
        }
        &:nth-child(2) {
          flex-direction: column;
          align-items: center;
          > .box {
            max-width: 700px;
            height: 400px;
            margin: 0 0 20px 0;
          }
          .col {
            max-width: 700px;
            .box {
              &:nth-child(1),
              &:nth-child(2) {
                max-width: 100%;
                margin: 0 0 20px 0;
                height: 400px;
              }
            }
          }
        }
        &:nth-child(3) {
          flex-wrap: wrap;
          .box {
            max-width: 330px;
            margin: 0 0 20px 0;
            &:nth-child(3) {
              max-width: 100%;
              height: 400px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 810px) {
  .conference {
    .container {
      .pictures {
        .card {
          margin: 11px 0;
          &:nth-child(1) {
            .pic {
              &:nth-child(1),
              &:nth-child(2) {
                width: 100%;
                min-height: 400px;
                max-width: 100%;
                margin: 0;
              }
              &:nth-child(2) {
                margin: 20px 0 0 0;
              }
            }
          }
        }
        &:nth-child(2) {
          .card {
            .pic {
              &:nth-child(1),
              &:nth-child(2) {
                width: 100%;
                max-width: 100%;
                min-height: 400px;
                margin: 0;
              }
              &:nth-child(2) {
                margin: 20px 0 0 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 811px) and (max-width: 1100px) {
  .conference {
    .container {
      .pictures {
        .card {
          display: flex;
          justify-content: space-between;
          margin: 16px 0;
          &:nth-child(1) {
            .pic {
              &:nth-child(1),
              &:nth-child(2) {
                width: 100%;
                min-height: 400px;
                max-width: 47%;
                margin: 0;
              }
            }
          }
        }
        &:nth-child(2) {
          .card {
            .pic {
              &:nth-child(1),
              &:nth-child(2) {
                width: 100%;
                max-width: 47%;
                min-height: 400px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 847px) {
  nav {
    padding: 34px 0;
    .container {
      max-width: 100%;
      flex-wrap: wrap;
      max-height: 390px;
      transition: max-height 1200ms;
      &.hide {
        max-height: 20px;
      }
      .logo {
        width: 190px;
        img {
          height: auto;
        }
      }
      #burger {
        display: block;
      }
      .menu {
        padding: 30px 0 0 0;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          padding: 28px 0;
          width: 100%;
          text-align: center;
        }
      }
      .btn {
        padding: 36px 0;
        width: 100%;
        text-align: center;
        margin: 10px 0 0 0;
        opacity: 1;
        transition: opacity 1000ms;
        &.hide {
          opacity: 0;
        }
      }
      .wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
  .main {
    .container {
      h1 {
        font-size: 54px;
      }
    }
  }
  .tickets {
    > p {
      padding: 0 30px;
      br {
        display: none;
      }
    }
    .container {
      flex-direction: column;
      align-items: center;
      .card {
        max-width: 380px;
        margin-bottom: 40px;
      }
    }
  }
}

@media (min-width: 848px) and (max-width: 1100px) {
  .tickets {
    .container {
      max-width: 750px;
      flex-wrap: wrap;
      .card {
        max-width: 360px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: 848px) and (max-width: 1200px) {
  nav {
    .container {
      max-width: 90%;
      .menu {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  .about {
    .container {
      flex-direction: column;
      align-items: center;
      .info,
      .video {
        max-width: 700px;
      }
      .info {
        margin-bottom: 30px;
        br {
          display: none;
        }
      }
      .video {
        min-height: 400px;
      }
    }
  }
  .showcase {
    .container {
      flex-direction: column;
      align-items: center;
      .card {
        max-width: 600px;
        &:nth-child(1) {
          border-right: none;
          border-bottom: 2px solid $bdc;
        }
        &:last-of-type {
          border-left: none;
          border-top: 2px solid $bdc;
        }
      }
    }
  }
  .speakers {
    flex-direction: column;
    align-items: center;
    .card {
      max-width: 100%;
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(10),
      &:nth-child(11) {
        .desc {
          min-width: 82%;
          margin: 0 auto 0 auto;
          padding: 30px 0;
        }
      }
    }
  }
  .contact {
    flex-direction: column;
    align-items: center;
    .desc {
      max-width: 100%;
      .info {
        padding: 200px 0;
      }
    }
    .form {
      max-width: 88%;
      padding: 0 0 40px 0;
      .form-wrap {
        max-width: 500px;
      }
    }
  }
  .sponsors {
    .container {
      flex-wrap: wrap;
      max-width: 434px;
      .pic {
        max-width: 42%;
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 90%;
  }
  .conference {
    .heading {
      max-width: 500px;
      h2 {
        font-size: 40px;
      }
    }
    .container {
      flex-direction: column;
      align-items: center;
      .info {
        max-width: 800px;
        margin: 20px 0;
      }
      .pictures {
        max-width: 800px;
        .card {
          &:nth-child(1) {
            width: 100%;
          }
        }
        &:nth-child(2) {
          max-width: 800px;
          .card {
            width: 100%;
            max-width: 800px;
          }
        }
      }
    }
  }
  .schedule {
    .container {
      .row {
        .info {
          padding-left: 30px;
        }
      }
    }
  }
  .features {
    .container {
      .box {
        &:first-of-type,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          border: 1px solid $boxbd;
        }
      }
    }
  }
  .address {
    flex-direction: column-reverse;
    align-items: center;
    .info {
      max-width: 90%;
      margin: 50px auto 50px auto;
      .info-wrap {
        max-width: 500px;
        h2 {
          font-size: 43px;
          br {
            display: none;
          }
        }
      }
    }
    .map {
      max-width: 100%;
      iframe {
        height: 700px;
      }
    }
  }
}
